body{ 
    background-color: #d7cec7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: 400;
    color: black;
}
h1 {
    font-size: 36px;
}
h3{
    font-size: 3em;
    text-align: center;
    color: Wheat;
    text-decoration: none;
}
header h1 {
    text-align: left;
    padding-top: 20px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
    
}
p {
    font-family: helvetica;
    font-size: 20px;
    color:black;
    object-fit: cover;
}
li {
    font-family: helvetica;
    font-size: 20px;
    color: black;
}

/*footer */

footer {
    background: #565656;
    height: 200px;
    color: black;
    text-align: center;
}
footer ul {
    list-style-type: none;
}
footer ul li a {
    color: black;
    text-decoration: none;
}
footer h1 p {
    color: black;
}





/* nav bar styles*/

nav ul {
    list-style-type: none;
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 0px 15px 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Tangerine', cursive;
    font-size: 1.8em;
}

/*Home page styles*/

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  opacity: .7;
}
.cloud-image-container img {
    height:75px;
    opacity: .7;
}
/*profile images*/

.art-flyer img {
    
    background: #76232f;
    height: 330px;
    padding: 4px ;
    opacity: .8;
   float: center;

}
.first-column-p {
    padding-top: 41px;
}
.text1 {
    background: maroon;
    font-size:1.7em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height:30px;
    width:300px;

    
	float: inline-start;
    
    
}

/*end of profile image css*/

.hero-image-container {
    object-fit: cover;
    height: 600px;
    background: #d7cec7;
}
.content-image img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    opacity: .7;
}
.content-image-container {
    object-fit: cover;
    height: 400px;
    margin-top: 10px;
    background: #76232f;
    margin-bottom: 10px;
}
.content-3-columns {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    
}
.content-3-columns2 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    
}
.left-column-home {
    background: #76232f;
    height: 350px;
    padding: 4px ;
    opacity: .8;

}
.middle-column-home {
    background: #76232f;
    height: 350px;
    padding: 4px;
    opacity: .8;
}
.right-column-home {
    background: #76232f;
    height: 350px;
    padding: 4px;
    opacity: .8;

    
}
.right-column-row3 {
 background: #d7cec7;
 
}

/* creating rows and columns */

/* Setting up our grid */

.container {
	width: 100%; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}
.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}
.eleven {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
.ten {
	width: 83%;
	float: left;
	margin-left: 2%;
}
.nine {
	width: 74.5%;
	float: left;
	margin-left: 2%;
}
.eight {
	width: 66%;
	float: left;
	margin-left: 2%;
}
.seven {
	width: 57.5%;
	float: left;
	margin-left: 2%;
}
.six {
	width: 49%; /* This div spans six columns (the entire row)*/
	float: left;
    margin-left: 2%;
    
}
.five {
	width: 40.5%; /* This div spans five columns */
	margin-left: 2%;
	float:left;
}
.four {
	width: 32%;
	float:left;
	margin-left: 2%;
}
.three {
	width: 23.5%;
	float:left;
	margin-left: 2%;
}

.three2 {
    
	
	float:left;
    
    padding-left: 70px;
}
.two {
	width: 15%;
	float:left;
	margin-left: 2%;

}
.one {
	width: 6.5%;
	float:left;
	margin-left: 2%;
}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}



/*css for contact page */


.hero-image2 img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    
}
.hero-image-container2 {
    object-fit: cover;
    height: 150px;
    background: #d7cec7;
}
.button{
    background-color: slategrey;
    color:#fff;
    padding:10px 15px;
    border:none;
    float: center;
   
}
.button:hover{
    background:rgb(58, 24, 180);
    color:white;
}
.post{
    text-align:center;
    border: 7px black solid;
    padding: 10px;
    border-radius: 15px;
    background-color:lightslategray
}
.categories{
    border: 5px black solid;
    background-color:lightgreen;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align:center;
}
.categories ol{
    padding:0;
    padding-left:20px;
    list-style:spuare;
    list-style:none;
    padding-bottom: 6px;
    border-bottom:dotted 1 px #333;
    list-style-image: url('../images/check.png');
}
.my-fom{
    padding:20px;
}
.my-form .form-group{
    padding-bottom:15px;
   width: 100%;
    background-color:#76232f ;
    border: 14px #76232f solid;
}
.my-form label{
    display: block;
    padding: 10px;
    color: white;
}
.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:50%;
}

/*responsive Design layouts this is a media query*/

@media only screen and (max-width: 1290px) {
    
    .art-flyer img {
    
        background: #76232f;
        height: 500px;
        width: 500px;
        margin-right: 200px;
        padding: 4px ;
        opacity: .8;
       float: center;
    
    }
    .three2 {
        float:right;
        padding-left: 70px;
    }
    .text1 {
        background: maroon;
        font-size:1.7em;
        text-align: center;
        padding: 10px;
        margin: 10px;
    height: 30px;
    width: 390px;
        
        float: inline-start;
        
        
    }
    .content-3-columns2 {
    
        padding-top: 40px;
        padding-bottom: 40px;
       
    text-align: left;
    
}

 @media only screen and (max-width: 980px) {
    footer{
        height: 450px
    }

    .art-flyer img {
    
        background: #76232f;
        height: 390px;
        width: 390px;
        padding: 4px ;
       
        opacity: .8;
       float: center;
    
    }
    .text1 {
        background: maroon;
        font-size:1.7em;
        text-align: center;
        padding: 10px;
        margin: 10px;
    height: 30px;
    width: 390px;
        
        float: inline-start;
        
        
    }
    
}

 /*second media query to make everything on its own row when screen gets bellow 753px*/



@media only screen and (max-width: 768px) {
.one, .two, .three, .three2, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
    width: 100% !important;    
    margin-left: 0;
    padding: 10px;
} 
header {
    background: #d7cec7;
    padding-bottom: 40;
    width: 100%;
    position: fixed !important;
    z-index: 1000;
    font-size: .4em !important;
}

p{
    font-size: 1em !important;
}

nav ul {
    list-style-type: none;
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 0px 15px 0px 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Tangerine', cursive;
    font-size: 1.3em;
}
.art-flyer img {
    
    
    background: #76232f;
    height: 300px;
    width: 300px;
    margin-left: 200px;
    padding: 4px ;
    opacity: .8;
   float: center;

}
.text1 {
    background: maroon;
    font-size:1.7em;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 10px;
    margin-left: 190px;

    
    float: inline-start;
    
    
}
.content-3-columns2 {
    
        padding-top: 40px;
        padding-bottom: 40px;
       
    text-align: left;
}

@media only screen and (max-width: 640px){
    
    .one, .two, .three, .three2, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
        width: 100% !important;    
        margin-left: 0;
        padding: 10px;
    } 
    header {
        background: #d7cec7;
        padding-bottom: 40;
        width: 100%;
        position: fixed !important;
        z-index: 1000;
        font-size: .4em !important;
    }
   
    nav ul {
        list-style-type: none;
        text-align: center;
    }
    nav ul li {
        display: inline;
        padding: 0px 15px 0px 15px;
    }
    nav ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Tangerine', cursive;
        font-size: 1.3em !important;
    }
    p{
        font-size: 1em !important;
    }
    .text1 {
        background: maroon;
        font-size:1.7em;
        text-align: center;
        padding: 10px;
        margin: 10px;
    
        
        float: inline-start;
        
    }
    .art-flyer img {
    
        background: #76232f;
        height: 300px;
        width: 300px;
        padding: 4px ;
        margin:30px;
        opacity: .8;
       float: center;
    
    }
    
}

