.four{
    padding-left: 170px;
}
.two2{
    padding-left: 20px;
    
    font-style: italic;
    font-size: 1.2em;
    border-style:  solid;
    width: 15%;
	float:left;
    margin-left: 2%;
    background-color: bisque;
}
.five{
    border-style:solid;
    margin-top: 370px;
    align-content: center;
    height:145px;
    background-color: bisque;
    background-image: url(../Images/dragonLeft.JPG);
    background-repeat: no-repeat;
    font-size: 2em;
}
#five2 {
    border-style:solid;
    margin-top: 370px;
    align-content: center;
    height:145px;
    background-color: bisque;
	width: 40.5%; /* This div spans five columns */
    margin-right:45px;

    float:right;
    background-image: url(../Images/dragonRight.JPG);
    background-repeat: no-repeat; 
    background-position: right;
    
}
.innerFour {
	width: 32%;
	float:left;
	margin-left: 4%;
}
.innerRow {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
    height: 145px;
    margin: 0px;
    padding-left: 170px;
}

#fight{
    height:100px;
    width:100px;
    font-size: 2em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#fight:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #fight:hover{
      opacity: .6;
      color:aqua;
      background-color:#e6080833;
  }
#raiden{
    background-image: url("../Images/raiden.jpg");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 aqua, 0 6px 20px 0 rgba(34, 140, 240, 0.19);
}
#raiden:hover{
    opacity: .6;
}

#raiden:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#scorpion{
    background-image: url("../Images/scorpion.JPG");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 #f0c506e7, 0 6px 20px 0 rgba(241, 139, 5, 0.836);
}
#scorpion:hover{
    opacity: .6;
}
#scorpion:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#sweettooth{
    background-image: url("../Images/sweetTooth.JPG");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 rgba(6, 216, 34, 0.897), 0 6px 20px 0 rgba(73, 156, 57, 0.884);
}
#sweettooth:hover{
opacity: .6;
}
#sweettooth:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#liukang{
    background-image: url("../Images/liuKang.jpg");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 #f30303ea, 0 6px 20px 0 rgba(243, 6, 6, 0.979);
}
#liukang:hover{
    opacity: .6;
}
#liukang:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #evil-liukang{
    background-image: url("../Images/liuKang.jpg");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 #f30303ea, 0 6px 20px 0 rgba(243, 6, 6, 0.979);
    opacity: 0.0;
}
#evil-sweettooth{
    background-image: url("../Images/sweetTooth.JPG");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 rgba(6, 216, 34, 0.897), 0 6px 20px 0 rgba(51, 236, 14, 0.884);
    opacity: 0.0;

}
#evil-scorpion{
    background-image: url("../Images/scorpion.JPG");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 #f0c506e7, 0 6px 20px 0 rgba(241, 139, 5, 0.836);
    opacity: 0.0;
}
#evil-raiden{
    background-image: url("../Images/raiden.jpg");
    height: 145px;
    width: 130px;
    box-shadow: 0 8px 16px 0 aqua, 0 6px 20px 0 rgba(34, 140, 240, 0.19);
    opacity: 0.0;
}


.one{
    padding-top: 25px;
    padding-left: 500px;
}
.container{
    background-color: blanchedalmond;
}
.hero-image  {
    background-image: url("../Images/mortalKombat.jpg");
   opacity: .85;
    width: 100%;
    height: 900px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */   
}
#hero-area{
    height: 150px;
    width: 500px;
}
#enemy-area{
    height: 150px;
    width: 400px;
    margin-right: 80%;
}
#enemy-stats{
    height: 150px;
    width: 210px;
    float: right;
    margin-right: 70%;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -50%);
    color: white;
}
